.home-info .entry-content {
  -webkit-line-clamp: unset;
}

.post-entry {
  position: relative;
  margin-bottom: var(--gap);
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  border: 1px solid var(--border);
}
.post-entry:hover .entry-header h2 {
  color: var(--link-hover-color);
  /* box-shadow: var(--link-hover-underline-shadow); */
}

/* .post-entry:active {
    transform: scale(0.97);
} */

.tag-entry .entry-cover {
  display: none;
}

.entry-header h2 {
  font-size: 24px;
  line-height: 1.3;
  transition: var(--link-transition);
  display: inline-block;
}

.entry-content {
  margin: 8px 0;
  color: var(--secondary);
  font-size: 14px;
  line-height: 1.6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

<svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
    stroke-linecap="round" stroke-linejoin="round"
    class="feather feather-calendar" style="user-select: text;">
    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"
      style="user-select: text;"></rect>
    <line x1="16" y1="2" x2="16" y2="6" style="user-select: text;"></line>
    <line x1="8" y1="2" x2="8" y2="6" style="user-select: text;"></line>
    <line x1="3" y1="10" x2="21" y2="10" style="user-select: text;"></line>
  </svg>
.entry-footer,
.entry-footer span > a {
  color: var(--secondary);
  font-size: 13px;
}

.entry-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.entry-cover,
.entry-isdraft {
  font-size: 14px;
  color: var(--secondary);
}

.entry-cover {
  margin-bottom: var(--gap);
  text-align: center;
}

.entry-cover img {
  border-radius: var(--radius);
  width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

.entry-cover a {
  color: var(--secondary);
  box-shadow: 0 1px 0 var(--primary);
}
